@model ContactModel

@{
    ViewData["Title"] = "Contact us";
}
<h1>@ViewData["Title"]</h1>

Dear @Model.Name,<br />
Your enquiry has been send to us.<br />
We will try to contact you with the needed assistance as soon as possible<br />
Thank you!